{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Nette forms generator</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="{$basePath}/css/app.css" rel="stylesheet">
	
	{block head}{/block}
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Nette forms generator <small><sup>[beta]</sup></small></a>
			</div>
		</div>
	</nav>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
				{block #content}
				{/block}
			</div>

			<div class="col-md-5">
				
				<!-- ~~~~~~Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#sidebar-help" aria-controls="home" role="tab" data-toggle="tab">Help</a>
					</li>
					<li role="presentation">
						<a href="#sidebar-todos" aria-controls="home" role="tab" data-toggle="tab">Todo</a>
					</li>
					<li role="presentation">
						<a href="#sidebar-authors" aria-controls="home" role="tab" data-toggle="tab">Authors</a>
					</li>
				</ul>
				<div class="tab-content">

					<div class="well well-sm tab-pane active" role="tabpanel" id="sidebar-help">
						<h4>How does it work?</h4>
						<div class="help">
							<a href="{$basePath}/images/help.png" target="__blank">
								<img src="{$basePath}/images/help.png" alt="how does form generator work?">
							</a>
						</div>

						<h4>Columns conventions</h4>
						<ul>
							<li>
								<code>*_id</code> is mapped as <code>addSelect()</code> of foreign table values 
							</li>
							<li>
								<code>*_path</code> is mapped as <code>addUpload()</code>
							</li>
							<li>
								<code>*mail</code> is mapped as <code>addText()->setType('email')</code>
							</li>
							<li>
								<code>tinyint(1)</code> is mapped as <code>addCheckbox()</code>
							</li>
							<li>
								<code>column NOT NULL</code> means the input is required
							</li>
							<li>
								<i>Comment</i> of column, if exists, is used as the label of input
							</li>
						</ul>

						<h4>Generated output</h4>
						<ul>
							<li>
								<code>▓▓▓</code> means <i>"you should put there something by your own"</i>
							</li>
						</ul>
					</div>

					<div class="well well-sm tab-pane" role="tabpanel" id="sidebar-todos">
						<h4>What is planned?</h4>
						<ul>
							<li>Full <i>enum</i> type support. </li>
							<li>Foreign columns support. </li>
							<li>Own templates for generated code. </li>
						</ul>
					</div>

					<div class="well well-sm tab-pane" role="tabpanel" id="sidebar-authors">
						<h4>Who is behind the generator?</h4>

						<div class="thumbnail">
							<div class="photo" style="background-image: url('http://www.michalm.cz/images/michal-foto6.jpg');"></div>
							<b>Michal Mikoláš</b>
							<p>Creator and main programmer of this generator.</p>
							<p><small>
								<a href="http://www.michalm.cz" target="__blank">michalm.cz</a> |
								<a href="https://www.linkedin.com/in/michalmikolas" target="__blank">LinkedIn</a> |
								<a href="https://bitbucket.org/nanuqcz/shake-shake/wiki/Home" target="__blank">Shake</a>
							</small></p>
						</div>
						
						<b>Want to be there too?</b>
						<p>Just <a href="https://bitbucket.org/nanuqcz/nanuqcz-netteforms/src" target="__blank">send me your pull request</a> :-)</p>
					</div>

				</div>
				<!-- ~~~~~~/ -->

			</div>
		</div>

		<hr>
		<footer>
			<p>
				&copy; 2016 <a href="http://www.michalm.cz" target="__blank">Michal Mikoláš</a> | 
				<small>😊</small> <a href="https://bitbucket.org/nanuqcz/nanuqcz-netteforms/src" target="__blank">This project is open-source</a>
			</p>
		</footer>
	</div> <!-- /container -->


	{block scripts}
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>

	<script n:if="$googleAnalyticsNumber">
	(function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', {$googleAnalyticsNumber}, 'auto');
	ga('send', 'pageview');
	</script>
	{/block}
</body>
</html>
