body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}


/* Move down content because we have a fixed navbar that is 50px tall */
.well {
	background-color: #F8F8F8;
}
textarea {
	resize: vertical;
}
.help {
	text-align: center;
}
.help a {
	display: inline-box;
}
.help a img {
	width: 200px;
	max-width: 100%;
	border: 2px solid #808080;
	border-radius: 5px;
}

.well.tab-pane {
	border-top: 0px;
	border-radius:0 0 5px 5px;
}
.well-sm.tab-pane {
	border-radius:0 0 3px 3px;
}


/* #sidebar-authors .thumbnail {
	float: left;
} */
#sidebar-authors .thumbnail::after {
	display: block;
	content: '';
	clear: both;
}
#sidebar-authors .thumbnail > * {
	display: block;
	margin-left: 77px;
	color: #333;
}
#sidebar-authors .thumbnail .photo {
	float: left;
	width: 73px;
	height: 73px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-left: 0;
}
#sidebar-authors .thumbnail > p:nth-last-child(1) {
	margin-bottom: 0;
}